<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.isaiahvonrundstedt.bucket">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
            android:name="com.isaiahvonrundstedt.bucket.BaseApp"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme.Core"
            android:allowBackup="false"
            android:supportsRtl="true"
            tools:ignore="GoogleAppIndexingWarning"
            tools:replace="android:allowBackup">

        <provider
                android:name="com.isaiahvonrundstedt.bucket.components.AppFileProvider"
                android:authorities="com.isaiahvonrundstedt.bucket.components.AppFileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name=".activities.SplashActivity"
                android:theme="@style/AppTheme.Core">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.auth.FirstRunActivity"
                  android:theme="@style/AppTheme.FirstRun"/>
        <activity android:name=".activities.auth.LoginActivity"
                  android:theme="@style/AppTheme.FirstRun"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".activities.auth.RegisterActivity"
                  android:theme="@style/AppTheme.FirstRun"
                  android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".activities.support.ProfileActivity" />
        <activity android:name=".activities.support.VaultActivity"/>
        <activity android:name=".activities.generic.AboutActivity"/>
        <activity android:name=".activities.generic.SettingsActivity"/>
        <activity android:name=".activities.wrapper.FrameActivity"/><activity android:name=".activities.support.StorageActivity" /><activity android:name=".activities.support.NotificationActivity" /><activity android:name=".activities.support.SharedActivity" />

        <service android:name="com.isaiahvonrundstedt.bucket.service.TransferService"
                android:exported="false"/>
        <service android:name="com.isaiahvonrundstedt.bucket.service.SupportService"
                android:exported="false"/>
        <service android:name="com.isaiahvonrundstedt.bucket.service.NotificationService"
                android:exported="false"/>
        <service android:name=".service.UsageService"/>
        <service android:name=".service.FetchService"/>

        <receiver
                android:name="com.isaiahvonrundstedt.bucket.receivers.RestartReceiver"
                android:enabled="true"/>
        <receiver
                android:name="com.isaiahvonrundstedt.bucket.receivers.NotificationReceiver"
                android:enabled="true"/>

    </application>

</manifest>